@media screen and (min-width: 992px) {
  #main > #page-header:empty + .breadcrumbs {
    display: none;
  }

  #page-header:empty + .breadcrumbs + .content-area {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  #page-document .eea-side-menu {
    display: none;
  }

  #page-document:has(.banner > .image) .eea-side-menu + * {
    margin-top: 300px;
  }

  #page-document:has(.eea-side-menu) .eea.banner {
    position: absolute;
    left: 0;
  }

  #page-document .eea-side-menu:not(:empty) + * {
    margin-top: 200px;
  }

  .has-side-nav {
    #view {
      display: grid;
      max-width: 1300px;
      margin: 0 auto;
      gap: 2rem;
      grid-template-areas: 'content nav';
      grid-template-columns: 4fr 1fr;
      grid-template-rows: auto 1fr;

      #page-document {
        overflow: auto;
        width: auto !important;
        max-width: 100% !important;
        grid-area: content;
      }

      > .eea-side-menu {
        position: sticky;
        top: 0;
        right: 1.5rem;
        min-width: 315px;
        height: fit-content;
        margin-bottom: 30px;
        grid-area: nav;
      }
    }
  }
}

.eea-side-menu {
  grid-area: nav;
  transition: top 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

  &:not(.mobile, .tablet) {
    max-width: 315px;
  }

  &.mobile {
    z-index: 3;
    width: 100%;
  }

  &.mobile,
  &.tablet {
    position: absolute;
    z-index: 1;
    width: -webkit-fill-available;
    width: -moz-available;
  }

  &.mobile.fixed,
  &.tablet.fixed {
    position: fixed;
    top: 0;
  }
}

// hide sidebar on toolbar content the Page teacher
#toolbar:has(.toolbar-content.show) + #main .eea-side-menu.mobile {
  display: none;
}

.has-toolbar-collapsed .eea-side-menu.mobile.fixed {
  top: 20px;
}

.has-toolbar .eea-side-menu.mobile.fixed {
  top: 100px;
}

#page-edit,
#page-add {
  .eea-side-menu {
    position: unset;
    right: unset;
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .has-side-nav #view {
    grid-template-areas:
      'nav'
      'content';
  }

  .eea-side-menu {
    max-width: 100%;
    margin: 0 auto;
  }
}

// hide summary marker from eea-side-menu as we use  our own summary icon
.eea-side-menu summary::-webkit-details-marker,
.eea-side-menu summary::marker {
  display: none;
}
