.table-of-contents.accordionMenu.sticky-toc {
  position: fixed !important;
  z-index: 1 !important;
  top: 0 !important;
  width: inherit;
}

.table-of-contents.accordionMenu {
  .dropdown.icon {
    font-size: 1rem !important;
    rotate: -90deg;
  }
}
