.table-of-contents {
  .icon {
    font-size: 1.2rem !important;
  }

  .content.active {
    margin: 0 !important;

    .title {
      padding: 4px !important;
      border: none !important;
      background-color: #f9f9f9 !important;
    }
  }
}

.accordionMenu.sticky-toc {
  position: fixed !important;
  z-index: 1 !important;
  top: 0 !important;
}

.not-column {
  width: inherit !important;
}
