@import (multiple, reference, optional) '../../../../theme.config';

@secondaryColor: #007b6c;
@darkTextColor: #3d5265;

.tocSideMenu {
  width: 300px;
  margin-bottom: 30px;
  background-color: transparent !important;

  .icon {
    font-size: 1.4rem !important;
  }

  .title {
    border-bottom: 2px solid @darkTextColor !important;
    background-color: transparent !important;

    a {
      color: @darkTextColor;
      font-weight: bold;
    }
  }

  a:focus {
    color: @secondaryColor !important;
    font-weight: bold;
  }

  .title:hover {
    a {
      color: @secondaryColor !important;
      font-weight: bold;
    }

    .icon {
      color: @secondaryColor !important;
      font-weight: bold;
    }

    .menuTitle {
      color: @darkTextColor;
    }
  }

  .content {
    padding: 0 !important;
    background-color: transparent !important;
  }

  .accordion.ui.fluid {
    padding-top: 0;
    margin-top: 0;
    background-color: transparent !important;
  }

  .menuTitle {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

#page-edit,
#page-add {
  .tocSideMenu {
    width: 100% !important;
  }
}

.tocSideMenu.mobile {
  width: 100% !important;
}
